.noticiaMain{
    max-width: 100%;
}

.titleBox{
    display:none;
}

.box{
    float: left;
    width: 100%;
}

/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#mySwipe img
{
    max-width: 100%;
}

.menuOption
{
    width: 80px;
    height: 80px;
    margin: 5px;
    float: left;
    background-size: 100% 100%;
}

.menuOption span
{
    display:none;
}

#botonNoticias
{
    background-image: url('../images/noticias.png');
}

#botonGaleria
{
    background-image: url('../images/galeria.png');
}

#botonEventos
{
    background-image: url('../images/pregon.png');
}

#botonInfoParroquial
{
    background-image: url('../images/parroquial.png');
}

#botonAudios
{
    background-image: url('../images/audios.png');
}

#botonHistoria
{
    background-image: url('../images/historia.png');
}

#botonVideos
{
    background-image: url('../images/videos.png');
}

#botonFacebook
{
    background-image: url('../images/facebook.png');
}

#botonTwitter
{
    background-image: url('../images/twitter.png');
}

#botonInstagram
{
    background-image: url('../images/instagram.png');
}

#botonRecorrido
{
    background-image: url('../images/recorrido.png');
}

#botonCapilla
{
    background-image: url('../images/capilla360.png');
}

.ui-page-active
{
    background-image: url('../images/fondo.jpg') !important;
    background-size: 100% auto !important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
{
    background: #FFF !important;
}

.app
{
    background: rgba(255,255,255,0.3);
}

/* END required styles */
