.noticiaMain{
    max-width: 100%;
}

.titleBox{
    display:none;
}

.box{
    float: left;
    width: 100%;
}

.boxInner img
{
    max-width: 100%;
}

.galeryWraper
{
    width: 50000px;
    overflow: auto;
}

/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

/* END required styles */
