            /* start RESET */
            html, body, div, span, applet, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            a, abbr, acronym, address, big, cite, code,
            del, dfn, em, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
            b, u, i, center,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td,
            article, aside, canvas, details, embed, 
            figure, figcaption, footer, header, hgroup, 
            menu, nav, output, ruby, section, summary,
            time, mark, audio, video {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
            }
            /* HTML5 display-role reset for older browsers */
            article, aside, details, figcaption, figure, 
            footer, header, hgroup, menu, nav, section {
                    display: block;
            }

            body {
                    line-height: 1;
                    font-family: Helvetica, Arial, sans-serif
            }

            ol, ul {
                    list-style: none;
            }
            blockquote, q {
                    quotes: none;
            }
            blockquote:before, blockquote:after,
            q:before, q:after {
                    content: '';
                    content: none;
            }
            table {
                    border-collapse: collapse;
                    border-spacing: 0;
            }
            
            body
            {
            	overflow: hidden !important;
            }

            /* END RESET */
			
			.Home
			{
				background-size: 100% auto !important;
				background-repeat: no-repeat;
				overflow:hidden !important;
				max-width: 400px;
				width: 100% !important;
			}

            #headerHome
            {
                height: 0px;
                width: 100%;
                background: transparent !important;
                padding-top: 20px;
            }
            
            .nuevoHeader
            {
                width: 100%;
                padding-top: 20px;
                height: 120px;
                background-image: url('../images/header.jpg') !important;
                background-size: 100% auto;
            }
                        
            #botonMas
            {
                height: 45px;
                width: 40px;
                position: absolute;
                top: 80px;
                left: 90%;
            }
            
            #logoCR
            {
                width: 68px;
                height: 68px;
                background-image: url('../images/logoCR.png');
                background-repeat: no-repeat;
                float: left;
            }
            
            #logoSV
            {
                width: 68px;
                height: 68px;
                background-image: url('../images/logoSV.png');
                background-repeat: no-repeat;
                float: left;
            }

            #mainPost
            {
                width: 293px;
                margin: 280px auto 50px;
            }
            
            #otherOptions
            {
                width: 280px;
                margin: 20px auto 0 0;
                overflow:hidden;
                height:90px;
                padding-bottom: 20px;
            }
            
            #mainPostPhoto img
            {
                max-width: 100%;
            }
            
            #mainPostTitle
            {
                color: #500a0a;
                padding: 0px;
                text-align: center;
                width:293px;
                z-index: 0;
                text-shadow: none !important;
                font-size: 50%;
            }
            .menuOption
            {
                width: 60px;
                height: 60px;
                margin: 5px;
                float: left;
                background-size: 100% 100%;
                cursor: pointer;
                background: url('../images/menuOption.png');
            }

            .menuOption span
            {
				color: #fff;
			    display: block;
			    font-family: Arial;
			    font-size: 10px;
			    position: relative;
			    text-align: center;
			    top: 60px;
			    width: 60px;
            }

/*            #botonNoticias
            {
                background-image: url('../images/noticias.png');
            }

            #botonGaleria
            {
                background-image: url('../images/galeria_blanco.png');
            }

            #botonEventos
            {
                background-image: url('../images/pregon_blanco.png');
            }

            #botonInfoParroquial
            {
                background-image: url('../images/parroquial_blanco.png');
            }

            #botonAudios
            {
                background-image: url('../images/audios.png');
            }

            #botonHistoria
            {
                background-image: url('../images/historia.png');
            }

            #botonVideos
            {
                background-image: url('../images/videos.png');
            }

            #botonFacebook
            {
                background-image: url('../images/facebook.png');
            }

            #botonTwitter
            {
                background-image: url('../images/twitter.png');
            }

            #botonInstagram
            {
                background-image: url('../images/instagram.png');
            }

            #botonRecorrido
            {
                background-image: url('../images/recorrido.png');
            }

            #botonCapilla
            {
                background-image: url('../images/capilla360.png');
            }
            
             #botonMasMain
            {
                background-image: url('../images/mas_blanco.png');
            }
*/
            
            .noBackground
            {
                background: none !important;
            }
            
            #bodyMapa
            {
                padding: 0 !important;
                margin: 0 !important;
            }
            
            .carousel ul li img
            {
                height: auto;
            }
            
            .ff_intro
            {
                text-align:center;
                font-size:200%;
                border-bottom: 1px dashed #000;
                margin-bottom: 10px;
            }
            
            #noticiaHolder img, #noticiaHolder p
            {
                width: 90%;
                margin: 0 5%;
            }
            
            .enVivo
            {
                display: none;
            }
            
            #bodyPregon strong
            {
                font-weight: bold;
            }
            
            #headerInner
            {
                width: 100%;
                height: 92px;
                margin: 0 auto;
                overflow: hidden;
                background-image: url('../images/header.png');
                background-repeat: no-repeat;
                padding-top: 28px
            }
            
            #headerInner h1
            {
				color: #FFFFFF;
			    float: left;
			    font-family: Verdana !important;
			    font-size: 25px;
			    margin: 15px 0 0 110px;
			    text-shadow: none;
			    white-space: normal;
			    width: 252px;
            }
            
            .noHeader
            {
            	background-image: none !important;
            }
            
            .ui-block-a .ui-bar, .ui-block-b .ui-bar,.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, 
            html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit, .ui-body-a, .ui-page-theme-a .ui-body-inherit, 
            html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, 
            html .ui-panel-page-container-a, .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
            {
            	color: #500a0a !important;
            	text-shadow: #F9F9F9 !important;
            }
            
/*            .ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, 
            html body .ui-group-theme-a .ui-bar-inherit, .ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, 
            html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a
            {
            	background: none !important;
            	border: none !important;
            	border-bottom: 1px solid #F9F9F9 !important;
            }*/
            
            .ui-block-a strong{
                font-weight: bold;
            }
            
            .ui-content{
            	padding: 20px 10px 0 !important;
            }
            
            .ui-content 
            {
            	color: #500a0a;
            }
            
            .ui-tabs
            {
            	padding-bottom: 30px !important;
            }
            
            .ui-grid-solo
            {
            	background: transparent !important;
            }
            			
			#bodyProcesion #recomendaciones p
			{
				margin: 20px 0;
			}
			
			#bodyProcesion #recomendaciones strong
			{
				font-weight: bold;
			}
			
			#bodyProcesion #recomendaciones h2
			{
				margin-top: 20px;
				font-size: 150%;
			}
			
			#bodyProcesion
			{
				padding: 0 !important;
			}
			
			#bodyHome
			{
				background-repeat:no-repeat;
				background-position: center top;
				background-repeat: no-repeat;
				width:100%;
				margin: 0 !important;	
				padding: 0 !important;			
			}
			
			#divisorTop
			{
				width:100%;
				background-image: url('../images/divisorTop.jpg');
				background-repeat: no-repeat;
				background-size: 100% 22px;
				height:22px;
				margin-top: -6px;
			}
			
			#divisorBottom
			{
				width:100%;
				background-image: url('../images/divisorBottom.jpg');
				background-repeat: no-repeat;
				background-size: 100% 30px;
				height:30px;
			}
			
			#texto
			{
				background: url('../images/fondo.jpg');
			}


			#mainImg
			{
				height: auto !important;
				padding: 0 !important;
				margin: 0 !important;
			}
			
			/*.ui-header
			{
				border: none !important;
                background-size: 100% auto !important;
                background-attachment: fixed !important;
			}*/
			
			#mypanel
			{
				background: #F9F9F9 !important;
			}
			
			.fondoMapa
			{
				color:#D3D5C5;
			}
			
			.ui-panel-wrapper
			{
				background: none !important;
			}
			
			.ui-footer p
			{
				font-size: 50%;
			}
			